- wrap_layout :application do
  #container.roy
    .content
      %h1
        %span Roy Ripper

      %h2 World-class recruitment learning
      .roy_small
      %p.intro
        Roy Ripper is a trainer, speaker and coach who helps make recruitment companies more profitable.
      %p
        Recognised within the recruitment industry as one of the foremost skills
        trainers on search and selection techniques in the World, he gets phenomenal
        results via his succinct and high-energy programmes.
      %p
        Passionate about people, performance and profits Roy's been described as
        "quite simply the best and most consistent trainer the recruitment industry has."
      %p
        Whilst training, coaching and speaking Roy's always happy to meet people
        enthusiastic about raising the standards in the recruitment industry.
      %p
        Contact him via twitter, linkedin, facebook or good ol' fashioned telephone.

      #social
        %ul
          %li
            %a.facebook{href: "https://www.facebook.com/royripperfan"}
              %span Facebook
          %li
            %a.twitter{href: "https://twitter.com/RoyRipper"}
              %span Twitter
          %li
            %a.linkedin{href: "http://www.linkedin.com/in/royripper"}
              %span LinkedIn
          %li
            .fb-like{:"data-href" => "http://www.royripper.com/",
              :"data-send" => "false",
              :"data-width" => "200",
              :"data-show-faces" => "false"}

        .clear
        #twitter
          <a class="twitter-timeline" href="https://twitter.com/RoyRipper" data-widget-id="306876617647587328">Tweets by @RoyRipper</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


